.rbc-calendar {
    min-height: 600px;
}
div.rbc-header {
    width: 10vw;
    display: flex;
    align-items: center;
}
.rbc-now {
    z-index: 2;
}

.rbc-event-label {
    font-size: 100%;
}

.modalClosed {
    display: none;
}